/* @font-face {
  font-family: 'themix';
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot');
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff') format('woff'),
   url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff2') format('woff2'),
       url('https://cdn.skauting.cz/fonts/TheMix_LT_400.otf') format('opentype'),
       url('https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'themix';
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.eot');
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.eot? #iefix') format('embedded-opentype');
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.woff') format('woff'),
   url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.woff2') format('woff2'),
       url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.otf') format('opentype'),
       url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.svg#themix') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'themix';
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot');
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff') format('woff'),
   url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff2') format('woff2'),
       url('https://cdn.skauting.cz/fonts/TheMix_LT_700.otf') format('opentype'),
       url('https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'themix';
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.eot');
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.eot? #iefix') format('embedded-opentype');
  src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.woff') format('woff'),
   url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.woff2') format('woff2'),
       url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.otf') format('opentype'),
       url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.svg#themix') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
font-family: 'skautbold';
src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot');
src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff') format('woff'),
   url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff2') format('woff2'),
   url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf') format('opentype'),
       url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold') format('svg');
  font-weight: normal;
  font-style: normal;
} */

.App {
	text-align: center;
	font-size: 2rem;
  --bgColor: #bdd4df;
  font-family: 'themix', sans-serif;
}

.home {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.grid {
	display: grid;
	grid-template-columns: repeat(var(--groups), 1fr);
	grid-template-rows: 3fr repeat(var(--rows), 2fr);
	background: var(--bgColor);
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
}

.grid-outer {
	flex-grow: 1;
	position: relative;
}

.column,
.groups {
	display: contents;
}

.cell {
	grid-row: calc(var(--row) + 2);
	grid-column: calc(var(--group) + 1);
	position: relative;
}

.group {
	grid-row: 1;
	grid-column: calc(var(--group) + 1);
	position: relative;
}

.cell-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #a38456;
	color: white;
	padding: 0.5em;
	opacity: 1;
	transition: all 1s;
	border-radius: 0.2em;
}

.groups .cell-inner {
	background: #eca038;
  font-family: 'skautbold', sans-serif;
  font-size: 1em;
}

.cell-inner.answered {
	opacity: 0.2;
	transform: translate(-50%, -50%) scale(0.7);
}

/* .cell-inner.ofTeam0 {
	background: #f49e00;
}
.cell-inner.ofTeam1 {
	background: #e53434;
} */

/* OPENED QUESTION */

.openedQuestion {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	height: 100%;
	z-index: 1;
	background: #3979b5;
	color: white;
	display: flex;
	flex-direction: column;
  justify-content: space-around;
  transition: background 300ms;
}

.openedQuestion.isCorrect {
	background: rgb(13, 211, 13);
}
.openedQuestion.isWrong {
	background: rgb(228, 38, 38);
}

.openedQuestion-content {
	padding: 5em;
}

.openedQuestion-label {
	opacity: 0.7;
	margin-bottom: 1em;
}
.openedQuestion-question {
	font-size: 1.5em;
}

/* POINTS */
.points {
	display: flex;
	justify-content: space-around;
}

.points-team {
  flex-basis: 0;
  flex-grow: 1;
}

.points-team.onTurn {
	font-weight: bold;
}
